* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Jost', sans-serif;
  list-style: none;
  text-decoration: none;
}
.login-body {
  transition: background-color 0.3s ease;
  margin: 0;
  padding: 0 5%;
  font-family: Arial, sans-serif;
  background-image: url('banner.png'); 
  background-color: white;
  background-size: 180vh;
  background-repeat: no-repeat;
  background-position: right bottom;
  height: 100vh;
  display: flex;
  justify-content: start;
  align-items: center;
}
.div-form{
  
  display: flex;
}
.div1,.div2{
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 12px 6px;
  padding: 10px;
  margin: 5px;
  flex-wrap: wrap;
}
.signup-body {
  background-color: #818181;
  transition: background-color 0.3s ease;
  margin: 0px;
  padding: 0 5%;
  font-family: Arial, sans-serif;
  background-image: url('banner.png'); 
  background-color: white;
  background-size: 150vh;
  background-repeat: no-repeat;
  background-position: -365px bottom;
  height: 100vh;
  display: flex;
  justify-content: end;
  align-items: center;
}
.sexo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.sexo-option {
  position: relative;
  padding-left: 8px;
  cursor: pointer;
}
.sexo-option:active{
color: #27b737;
}
.body-form{
  display: flex;
  justify-content: end;
  align-items: center;
}
#cep-numero{
  max-width: 350px;
}
#cep-numero .input-container{
  margin-left: 4px;
  margin-right: 4px; 
}
#cep-numero input[type="text"]{
  min-width: 50px;
}
.dark-background{
  background-color: black;
}
.dark-background .login-container{
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
}
.dark-background .login-box{

  background-color: black;
}
.dark-background .login-box .login-header h1{
  color: white;
}
/* .dark-background .login-box .login-header h1{
  color: white;
} */
.container {

  max-height: 80%;
  background-color: rgba(0, 255, 0, 0.7); /* Fundo preto com transparência */
  padding: 12px;
  border-radius: 15px 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.login-box {
  
  transition: background-color 0.3s ease;
  background-color: #fff; /* Fundo branco */
  padding: 15px;
  border-radius: 15px 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.login-header h1,h2,h3 {
  transition: color 0.3s ease;
  color: #333; /* Cor do texto principal (preto) */
}

.input-container {
  margin: 12px auto;
  text-align: left;
}

label {
  font: size 12px;
  display: block;
  margin-bottom: 2px;
  color: #555; /* Cor do texto do rótulo (cinza) */
}

input[type="text"],input[type="email"],
input[type="password"] {
  width: 100%;
  min-width: 250px;
  padding: 8px;
  border-radius: 10px 5px;
  /* border: none; */
  border:1px solid #45a049; /* Linha inferior preta */
  outline: none;
  font-size: 14px;
}

button {
  background-color: white; /* Cor verde */
  color: #27b737;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border:2px solid #27b737;
  border-radius: 8px 4px ;
  font-size: 16px;
  transition: border 0.3s ease;
  transition: border-radius 0.3s ease;
  transition: background-color 0.3s ease;
}

button:hover {
  color: white;
  border-radius: 4px 8px ;
  border:2px solid #ffffff00;
  background-color:  #27b737; /* Cor verde escura no hover */
}

.login-footer {
  margin-top: 10px;
}

.login-footer p {
  color: #555;
  font-size: 14px;
}

.login-footer a {
  color: #4CAF50; /* Cor verde */
  text-decoration: none;
  font-weight: bold;
}

/* contact-section */
section {
  padding: 3% 10%;
}.contact {
  background-color: #3a3a3a;
}

.contact-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, auto));
  gap: 3rem;
}

.first-info img {
  width: 100px;
  height: auto;
}

.contact-info h4 {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.contact-info p {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1.5;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all .42s;
}

.contact-info p:hover {
  color: #7CFC00;
}

.social-icon i {
  color: #7CFC00;
  margin-right: 10px;
  font-size: 20px;
  transition: all .42s;
}

.social-icon i:hover {
  transform: scale(1.3);
}

.end-text {
  background-color: #edfff1;
  text-align: center;
  padding: 10px;
}

.end-text p {
  color: #111;
  text-transform: capitalize;
}

/* Responsive-css */
@media(max-width:890px) {
  header {
      padding: 20px 3%;
      transition: .4s;
  }
}

@media(max-width:630px) {
  .main-text h1 {
      font-size: 50px;
      transition: .4s;
  }

  .main-text p {
      font-size: 18px;
      transition: .4s;
  }

  .main-btn {
      padding: 10px 20px;
      transition: .4s;
  }
}

@media(max-width:400px) {

  .logo img {
      max-width: 200px;
      height: auto;
  }
}

@media(max-width:768px) {
  .navmenu {
      position: absolute;
      top: 100%;
      right: -100%;
      width: 300px;
      height: 130vh;
      background: #edfff1;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 120px 30px;
      transition: all .42s;
  }

  .navmenu a {
      display: block;
      margin: 18px 0;
  }

  .navmenu.open {
      right: 0;
  }

  #menu-icon {
      display: flex;
  }
}